__pycache__/
*.py[cod]

.venv/

.env

.vscode/

# IDE & environment
.idea/
*.iml
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# OS files
.DS_Store

# Docker files
*.log
